.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  align-self: stretch;
}

.canvasContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panelContainer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
