.sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-container:not(:last-child) {
  margin-right: 10px;
}

.create-grid-container > input {
  width: 50px;
  font-size: 18px;
  height: 38px;
  font-family: monospace;
  text-align: center;
  border-radius: 5px;
}

.config-container {
  padding: 10px 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.checkbox-container > input {
  margin-right: 8px;
}

.compute-time-container {
  padding-top: 16px;
}
